var iceServers = [
        {
                urls       : 'turn:{{ TURN_FQDN }}:3478?transport=tcp',
                username   : 'websip',
                credential : 'websip'
        },
        {
                urls       : 'turns:{{ TURN_FQDN }}:5349?transport=tcp',
                username   : 'websip',
                credential : 'websip'
        },

];
