var iceServers = [
        {
                urls       : 'turn:{{ turn_ipv4 }}:3478?transport=tcp',
                username   : 'websip',
                credential : 'websip'
        },
        {
                urls       : 'turns:{{ turn_ipv4 }}:5349?transport=tcp',
                username   : 'websip',
                credential : 'websip'
        },

];
