;      _ _       _             _             
;   __| (_) __ _| |      _ __ | | __ _ _ __  
;  / _` | |/ _` | |_____| '_ \| |/ _` | '_ \ 
; | (_| | | (_| | |_____| |_) | | (_| | | | |
;  \__,_|_|\__,_|_|     | .__/|_|\__,_|_| |_|
;                       |_|         

static=yes         ; if static=yes and writeprotect=no, you can save dialplan at the asterisk CLI with the command 'dialplan save' 
writeprotect=yes   ; default is no. 'dialplan save' rewrites extension.conf with only the current working config. ALL comments are lost by using the 'dialplan save' command.

clearglobalvars=no

    exten => 7777,1,VoicemailMain
    exten => 7777,n,Goto(s,6)


[flowroute] 	; For outbound *ONLY* dialing to Flowroute
; ------------------------------------------

exten => _1NXXXXXXXXX,1,Dial(SIP/${EXTEN}@flowroute)
exten => _1NXXNXXXXXX,n,Hangup()

exten => _91NXXXXXXXXX,1,Dial(SIP/${EXTEN:1}@flowroute)	; if a number has a '9' preceeding it, strip it, and send it to flowroute


[a3sub] ; alta3 subscriber
;--------------------------------------------
include => alta3-extens
include => flowroute

[unlimited]
;--------------------------------------------
include => flowroute
include => alta3-extens
include => recording

[guests]
include => alta3-extens

; ------------------------------------------------------------------------------------------------
; - RECODING ANNOUNCEMENTS 
; ------------------------------------------------------------------------------------------------
[recording]
exten => 2098,1,Answer(500)
   same => n,Record(en/a3welcome.ulaw)
   same => n,Wait(1)
   same => n,Playback(a3welcome)
   same => n,Hangup()

exten => 2091,1,Answer(500)
   same => n,Record(en/thefeesers.ulaw)
   same => n,Wait(1)
   same => n,Playback(thefeesers)
   same => n,Hangup()

; ------------------------------------------------------------------------------------------------
; - AUTO ATTENDANT 
; ------------------------------------------------------------------------------------------------

[welcome-menu]

exten => s,1,Answer(500)
same => n(loop),Background(en/a3welcome)
same => n,WaitExten()

exten => 0,1,Goto(alta3-extens,2051,1) ; tech support
exten => 1,1,Goto(alta3-extens,2050,1) ; Sales
exten => 2,1,Goto(alta3-extens,2020,1) ; phone 1
exten => 5,1,Goto(alta3-extens,2028,1) ; phone 2
exten => 8,1,Goto(alta3-extens,2077,1) ; MeetMe Conference
exten => i,1,Playback(try-again)
;same => n,Goto(s,loop)
same => n,Goto(s,loop)


[alta3-extens]	; Extensions registered to Alta3 that are *free* to process (no cost)
; -------------------------------------------------------------------------------------------------------------
exten => 17175664428,1,Goto(welcome-menu,s,1)           ; flowrouteroute incoming 17175664428

exten => 18782223030,1,Answer(500)
exten => 18782223030,2,ConfBridge(2077)                 ; flowroute number for meetme conference

exten => 2000,1,Goto(welcome-menu,s,1)

; phone 1
exten => 2020,1,Dial(SIP/2020&SIP/2021&SIP/2022,20)     
exten => 2020,2,Dial(SIP/2020&SIP/2021&SIP/2022&SIP/17175717648@flowroute,15) 
exten => 2020,3,VoiceMail(2020@default) 
exten => 2020,4,PlayBack(vm-goodbye)
exten => 2020,5,HangUp()

; phone 2
exten => 2028,1,Dial(SIP/2028,20) 
exten => 2028,2,Dial(SIP/2028&SIP/17179919610@flowroute,20) 
exten => 2028,3,VoiceMail(2028@default) 
exten => 2028,4,PlayBack(vm-goodbye)
exten => 2028,5,HangUp()

; Conf Bridge (Internal)
exten => 2030,1,Answer(100)
exten => 2030,2,Playback(en/beep)
exten => 2030,3,ConfBridge(2077)

; voicemail access
exten => 2088,1,voicemailMain()

; The remaining 20xx range 
exten => _20XX,1,Dial(SIP/${EXTEN})                ; default route for the 20xx range, forwarding to the sip router to determine location

exten => _2[23]XX,1,Dial(SIP/${EXTEN}@gw-host)     ; Send to a gateway host (will be the core asterisk server later on in the course)

exten => s,1,Answer()					; catchall to send 200 Response to Options pings from Flowroute
exten => s,2,Hangup()					; hangup immediately, don't allow channel to stay open
