var iceServers = [
        {
                urls       : 'turn:turn.bravo.alta3.com:3478?transport=tcp',
                username   : 'websip',
                credential : 'websip'
        },
        {
                urls       : 'turns:turn.bravo.alta3.com:5349?transport=tcp',
                username   : 'websip',
                credential : 'websip'
        },

];
