listening-ip={{ TURN_IP4 }}
# listening-ip={{ TURN_IP6 }}
fingerprint
lt-cred-mech
user=websip:websip
realm=sipgate.alta3.com
log-file=/var/log/turn.log
simple-log
cert=/etc/letsencrypt/live/sip.alta3.com/fullchain.pem
pkey=/etc/letsencrypt/live/sip.alta3.com/privkey.pem
